@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'open sans', Times, serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 64px;
}




.btn {
    color: #6030b1;
    display: flex;
    cursor: pointer;
    max-height: 48px;
    min-height: 48px;
    padding: 12px 40px;
    align-items: center;
    border: 2px #5d3eff;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #8a1147;
    color: #fff;
    text-decoration: none !important; 
}

.text__purple {
    color: #6030b1;
}


.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
}


.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    height: 100vw;
    width: 100vw;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.menu__open .menu__backdrop {
    display: flex;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.menu__link {
    color: white;
    font-size: 32px;
    font-weight: 700;
    margin: 24px 0;
}

.menu__list {
    padding: 32px;



.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

/*    HEADER    */


.section__header {
    margin-bottom: 64px;
}



.section__logo {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.header__list {
    
    display: flex;
    align-items: center;
}

.movie__logo {
    width: 75px;    
    height: 75px;    
    margin-left: 32px;
    margin-top: 16px;
}

.header__list {
    display: flex;
    padding-top: 16px;
}

.header__link {
    color: #0a1f44;
    font-weight: 700;
    margin: 0 24px;
}

.header__link--anchor {
    text-decoration: none;
    font-size: 20px;
}

.header__link:hover {
    text-decoration: underline;
}



.header__title {
    color: #0a1f44;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 40px;
   
}


.header__title--wrapper {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.search__input {
    width: 100%;
    max-width: 800px;
    height: 60px;
    font-size: 20px;
    border-radius: 50px;
    padding-left: 20px;
    
}



.overlay {
    background-image: url('https://as2.ftcdn.net/jpg/00/39/65/13/1000_F_39651336_uYH9j2j6Dq5wczp9P0xBB25NQqi6vdng.webp');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: -1;
    filter: hue-rotate(150deg);
    
}



/*   SEARCH   */




.search__container {
    background-color: rgb(7, 150, 21);
    
}


.section__title {
    width: 100%;
    max-width: 100%;
    padding-top: 24px;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    
}

.search__name {
    color: #0a1f44;
    font-size: 28px;
    margin-left: 32px;      
}



#magnifying__glass {
    color: #0a1f44;
    position: absolute;
    right: 256px;
    top: 272px;
    font-size: 28px;
    cursor: pointer;   
}

#magnifying__glass:hover {
    color: #18c440;
}


.search__info {
    color: #0a1f44;
    font-size: 28px;
    margin-left: 32px;    
}


#movieSort {
    color: #0a1f44;
    background-color: aqua;
    height: 40px;
    width: 140px;
    border-radius: 50px;
    padding-left: 8px;
    margin-right: 16px;
    
}


.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}


.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33.333% - 32px);
    padding: 48px 0;   
}


.learn__more--btn{
    color: #6030b1;
    display: flex;
    cursor: pointer;
    max-height: 40px;
    min-height: 40px;
    margin-top: 24px;
    padding: 12px 40px;
    align-items: center;
    border: 2px #5d3eff;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}


@media (max-width: 1228px) {
    #magnifying__glass {
    color: #0a1f44;
    position: absolute;
    right: 228px;
    top: 268px;
    font-size: 28px;
    cursor: pointer;
    }
}
    



@media (max-width: 1024px) {
    .movie {
        width: calc(50% - 32px);
    }

    #magnifying__glass {    
    right: 236px;
    top: 246px;
    font-size: 28px;
    
    }

}


@media (max-width: 1020px) {
    .header__title--wrapper {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    }

    

    .header__title {
    color: #0a1f44;
    font-size: 28px;
    font-weight: 700;
    }



    .search__input {
    width: 100%;
    max-width: 800px;
    height: 60px;
    font-size: 20px;
    border-radius: 50px;
    padding-left: 20px;
    margin-left: 80px;
    
    }

     #magnifying__glass {    
    right: 224px;
    top: 248px;
    font-size: 28px;   
    }
}


/*   LARGE PHONES AND TABLETS   */


@media (max-width: 768px) {
    .header__link {
        display: none;
    }

    .movie {
        width: calc(100% - 32px);
        padding: 24px 0;
    }

    .input__wrap {          
    position: relative;   
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 24px;    
    color: #0a1f44;
    }

     #magnifying__glass {    
    right: 182px;
    top: 246px;
    font-size: 28px;   
    }
}


@media (max-width: 576px) {
    .header__title {
        font-size: 24px;
        padding-left: 48px;
    }

    .search__input {
        width: 100%;
        max-width: 100%;
        height: 60px;
        font-size: 20px;
        border-radius: 50px;
        padding-left: 20px;
        margin-left: 16px;
    }

    .input__wrap {
        width: 100%;
        justify-content: center;
    }

     #magnifying__glass {    
    right: 158px;
    top: 242px;
    font-size: 28px;   
    }
}


@media (max-width: 552px) {
    #magnifying__glass {    
    right: 148px;
    top: 276px;
    font-size: 28px;   
    }
}