@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'open sans', Times, serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-weight: 500px;
    font-size: 45px;
    max-width: 1000px;
       
}

input {
    width: 50%;
    max-width: 800px;
    height: 60px;
    font-size: 20px;
    border-radius: 50px;
    padding-left: 20px;
}

.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 96px;
}


.btn {
    color: #6030b1;
    display: flex;
    cursor: pointer;
    max-height: 48px;
    min-height: 48px;
    padding: 12px 40px;
    align-items: center;
    border: 2px #5d3eff;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #ff328f;
    color: #fff;
    text-decoration: none;
}



.section__logo {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
}

.header__list {
    margin: 0 32px;
    display: flex;
    align-items: center;
}


.blinker__logo {
    width: 100px;
    max-width: 100%;
    height: 50px;
    max-height: 100%;
    margin-left: 32px;
}

.header__list {
    display: flex;
}


.header__links {
    
}

.header__link {
    margin: 0 32px;
}

.header__link--anchor {
    text-decoration: none;
    font-size: 20px;
}

.header__link:hover {
    text-decoration: underline;
}



.header__title {
   margin-bottom: 40px;
   margin-left: 80px;
}


.header__title--wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    margin-top: 64px;
}


.input__wrapper {
    
}

.search__info {
    color: #0a1f44;
    font-size: 28px;
    margin-left: 32px;
}