@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'open sans', Times, serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-weight: 500px;
    font-size: 45px;
    max-width: 1000px;
    padding: 8px 0;
       
}

input {
    width: 50%;
    max-width: 1000px;
    height: 60px;
    font-size: 20px;
    border-radius: 50px;
    padding-left: 20px;
    
}

.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 96px;
}


.btn {
    color: #6030b1;
    display: flex;
    cursor: pointer;
    max-height: 48px;
    min-height: 48px;
    padding: 12px 40px;
    align-items: center;
    border: 2px #5d3eff;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #ff328f;
    color: #fff;
    text-decoration: none;
}

.text__purple {
    color: #6030b1;
}



/*    HEADER    */



.section__logo {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header__list {
    margin: 0 32px;
    display: flex;
    align-items: center;
}


.blinker__logo {
    width: 100px;
    max-width: 100%;
    height: 50px;
    max-height: 100%;
    margin-left: 32px;
    padding-top: 16px;
}

.header__list {
    display: flex;
    padding-top: 16px;
}

.header__link {
    color: #fff;
    margin: 0 24px;
}

.header__link--anchor {
    text-decoration: none;
    font-size: 20px;
}

.header__link:hover {
    text-decoration: underline;
}



.header__title {
    color: #fff;
    margin-left: 48px; 
}


.header__title--wrapper {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
       
    margin-top: 64px;
}


.input__wrap {
    width: 100%;
    max-width: 100%;
    margin-top: 24px;   
}

.overlay {
    background-image: url('https://dev.d24jig8s1lr7n9.amplifyapp.com/img/carpark.8742e246.jpeg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: -1;
}



/*   SEARCH   */

.search__info {
    color: #0a1f44;
    font-size: 28px;
    margin-left: 32px;    
}


.cars {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 16px 8px;  
}


.car__img--wrapper {
    display: flex;
    flex-direction: column;
    width: 200px;    
    height: 100px;
    padding: 20px;
    border: 10px solid #242424;
}

.car__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
}

.car__price {
    font-size: 20px;
    font-weight: 500;
    margin-top: 12px;
}

.car__mileage {
    font-size: 16px;
    font-weight: 400;

}





/*   LARGE PHONES AND TABLETS   */


@media (max-width: 768px) {
    .header__link {
        display: none;
    }
}